* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(66, 103, 178);
    background-image: url(../res/bg.png);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.credentials {
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px 25px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.label-container {
    margin: 0 0 5px 0;
    font-size: 15px;
}

.textbox {
    margin: 0 0 10px 0;
    font-size: 16px;
    padding: 12px;
    background: rgb(222, 225, 226);
    border: 2px solid rgb(222, 225, 226);
}

    .textbox:hover {
        border-color: rgb(204, 204, 204);
    }

    .textbox:focus {
        border-color: rgb(66, 103, 178);
        background: rgb(255, 255, 255);
    }

.button {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 150, 84);
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    margin: 20px 0;
}

.sign-up {
    text-align: center;
    font-size: 14px;
    margin: 0 0 15px 0;
}

.sign-up-link {
    color: rgb(66, 103, 178);
    text-decoration: none;
    cursor: pointer;
}

    .sign-up-link:hover {
        text-decoration: underline;
    }

.separator {
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.google-button {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(97, 149, 252);
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 30px;
    padding: 2px;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.header {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0 0 25px 0;
}