* {
    margin: 0;
    padding: 0;
}

.productsPage-container {
    display: flex;
    gap: 30px;
    min-width: 705px;
    min-height: 450px;
    margin: 70px 0 0 0;
    padding: 1rem;
    font-size: 14px;
}

.add-product-container,
.add-product-sections,
.data-container,
.tb-wrapper {
    display: flex;
    flex-direction: column;
}

.add-product-container {
    gap: 20px;
}

.add-product-sections {
    gap: 5px;
}

.add-product-button-section {
    display: flex;
    gap: 20px;
}

.search-sort-container{
    display: flex;
    justify-content: space-between;
}

.file-type-wrapper {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

.validator {
    background-color: rgb(178,59,59);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.validator-req-field {
    color: rgb(178,59,59)
}

table {
    min-width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(39, 66, 121);
}

th,
td {
    padding: 1rem;
    text-align: center;
    white-space: nowrap;
    width: calc(100% / 5);
}

th {
    background-color: rgb(66, 103, 178);
    color: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

.search-bar, .sort-bar, .textbox-style {
    padding: 5px;
    border: 1px solid rgb(128 128 128);
    border-radius: 2px;
}


.tbSearch-wrapper {
    position: relative;
    display: inline-block;
}

.vertical-align {
    display: flex;
    gap: 3px;
    align-items: center;
    margin: 0 0 15px 0;
}

.search-btn, .add-btn, .clear-btn {
    padding: 7px;
    border: 1px solid rgb(128 128 128);
    border-radius: 2px;
}

.add-btn, .clear-btn{
    text-align: center;
    min-width: 70px;
}

.cancel-btn {
    background-color: rgb(178,59,59);
    cursor: pointer;
    color: rgb(255,255,255);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px 4px;
    min-width: 70px;
}

.tbsearch-clear-btn {
    position: absolute;
    top: 7px;
    right: 6px;
    border: 1px solid rgb(128 128 128);
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 8px;
}

    .search-btn:hover, .tbsearch-clear-btn:hover, .add-btn:hover, .clear-btn:hover {
        background-color: rgb(235, 235, 235);
        border: 1px solid rgb(80, 80, 80);
        cursor: pointer;
    }

.datapager {
    display: flex;
    justify-content: right;
    margin: 20px 0 0 0;
    width: 100%;
    gap: 5px;
}

.pagination {
    padding: 7px 12px;
    font-size: 14px;
}

    .pagination:hover {
        cursor: pointer;
    }

.sort-buttons {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.empty {
    text-align: center;
}

.edit-status-button {
    background-color: rgb(50,205,50);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px 4px;
    min-width: 60px;
}

.image{
    width: 100px;
    height: 50px;
}

.dl-container {
    display: inline-block;
    align-self: flex-start;
}

.dl-section {
    display: flex;
    gap: 25px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.dl-buttons {
    background-color: rgb(0, 0,0, 0);
    border: none;
    font-weight: bold;
    font-size: 16px;
}

    .dl-buttons:hover {
        cursor: pointer;
        text-decoration: underline;
    }